net clk loc=t9;
net reset loc=k4;
net ps2clk loc=b16;
net ps2data loc=e13;
net left<7> loc=n15;
net left<6> loc=h14;
net left<5> loc=m4;
net left<4> loc=p1;
net left<3> loc=n3;
net left<2> loc=m15;
net left<1> loc=h13;
net left<0> loc=g16;
net prev<7> loc=h4;
net prev<6> loc=e2;
net prev<5> loc=e1;
net prev<4> loc=f3;
net prev<3> loc=f2;
net prev<2> loc=g4;
net prev<1> loc=g3;
net prev<0> loc=g1;
