net clk loc=t9;
net reset loc=k4;
net left<6> loc=h14;
net left<5> loc=m4;
net left<4> loc=p1;
net left<3> loc=n3;
net left<2> loc=m15;
net left<1> loc=h13;
net left<0> loc=g16;
net right<6> loc=e2;
net right<5> loc=e1;
net right<4> loc=f3;
net right<3> loc=f2;
net right<2> loc=g4;
net right<1> loc=g3;
net right<0> loc=g1;
net pause loc=p12;