//! **************************************************************************
// Written by: Map O.40d on Mon Sep 09 18:33:35 2024
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "right<0>" LOCATE = SITE "G1" LEVEL 1;
COMP "right<1>" LOCATE = SITE "G3" LEVEL 1;
COMP "right<2>" LOCATE = SITE "G4" LEVEL 1;
COMP "right<3>" LOCATE = SITE "F2" LEVEL 1;
COMP "right<4>" LOCATE = SITE "F3" LEVEL 1;
COMP "pause" LOCATE = SITE "P12" LEVEL 1;
COMP "right<5>" LOCATE = SITE "E1" LEVEL 1;
COMP "right<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "left<0>" LOCATE = SITE "G16" LEVEL 1;
COMP "left<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "reset" LOCATE = SITE "K4" LEVEL 1;
COMP "left<2>" LOCATE = SITE "M15" LEVEL 1;
COMP "left<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "left<4>" LOCATE = SITE "P1" LEVEL 1;
COMP "left<5>" LOCATE = SITE "M4" LEVEL 1;
COMP "left<6>" LOCATE = SITE "H14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

